<%- include ("../../partials/header.ejs") %>
<%- include ("../../partials/navbar.ejs") %>
<body>
    <hr>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Category register</h1>
            </div> 
            <div class="card-body">
                <form method="post" action="/categories/save">
                    <input class="form-control" type="text" name="title" placeholder="Definy the category title">
                    <br>
                    <button class="btn btn-success">Register</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include ("../../partials/footer.ejs") %>