<nav class="navbar navbar-expand navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
        Blog_project
    </a>
    <uL class="navbar-nav mr-auto ">
        <li class="nav-item" >
            <a href="/admin/categories" class="nav-link">Categories</a>
        </li>
        <li class="nav-item" >
            <a href="/admin/articles" class="nav-link">Articles</a>
        </li>
    </uL>

    <ul class="navbar-nav ml-auto ">
        <a href="/logout" class="nav-link">logout</a>
    </ul>
</nav>